form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e5f3f2;
  color: #6d6e71;
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  text-align: center;
}

h1 {
  color: #6d6e71;
  font-family: 'Roboto Slab', serif;
  font-size: 4rem;
}

h1 span {
  color: #00a79d;
}

form input {
  line-height: 1;
  padding: 0 0 0 0.5rem;
}

form input,
form button {
  width: 50%;
  height: 4rem;
  border: 2px solid lightgray;
  font-size: 2rem;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

form button {
  background-color: #00a79d;
  color: white;
  width: 50%;
  border: none;
}

form button:enabled:hover {
  cursor: pointer;
  background-color: #045e55;
}

form p {
  text-align: right;
  width: 50%;
  margin: 0.5rem 0 1rem 0;
  font-size: 1.2rem;
}